﻿<%@ Page Language="C#" Inherits="AspNetDemo.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
		<asp:Button id="button1" runat="server" Text="Click me!" OnClick="button1Clicked" />

		<asp:Button id="clickMeButton" runat="server" text="Click Me" onClick="clickMeButton_Click" />

		<asp:Label id="outputlabel" runat="server" />

	</form>
</body>
</html>
