<!doctype html>
<html>
  <!--
        Details on bootstrapping: https://docs.angularjs.org/guide/bootstrap

  -->

<body>
  <div ng-controller="MyController">
    Hello {{greetMe}}!
  </div>


  <script>
    var head = document.head || document.getElementsByTagName('head')[0];

    var script = document.createElement('script');
    script.defer = true;
    script.async = false;
    script.src = "http://code.angularjs.org/snapshot/angular.js";
    head.appendChild( script );


    var script2 = document.createElement('script');
    script2.defer = true;
    script2.async = false;
    script2.text =
      'window.onload = function(event) {' +
      '  angular.module("myApp", [])'+
      '    .controller("MyController", ["$scope", function ($scope) {' +
      '      $scope.greetMe = "World";' +
      '    }]);' +
      '' +
      '  angular.element(document).ready(function() {' +
      '    angular.bootstrap(document, ["myApp"]);' +
      '  });' +
      '};';

    head.appendChild( script2 );

  </script>

</body>
</html>
