<button type='button' id='send'>send custom event</button>

Open the console.

<script>
  var send = function() {
    var event = new CustomEvent(
      "myMessage", {
        detail: {
          message: "Hello World!",
          time: new Date(),
        },
        bubbles: true,
        cancelable: true
      }
    );

    document.dispatchEvent(event);
  };

  var receive = function(evt) {
    console.log('received event');
    console.log(evt);
  };

  document.getElementById('send').addEventListener('click', send);
  document.addEventListener('myMessage', receive);

</script>
