<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body gz-templ-prefix='{{' gz-templ-suffix='}}'>

  <h1>A nice header</h1>
  <p id='1'>First paragraph. Here is a <strong>bold</strong> word in the middle
  of everything.</p>
  <p id='2'>Second paragraph</p>
  <p>English: {{TEXT1.EN}}</p>
  <p>Swedish: {{TEXT1.SE}}</p>

  <div id='input'>
    <input id='user' value='user'/>
    <input id='password' value='password'/>
    <input type='button' id='login' value='login'/>
  </div>

  <hr/>

  <script>

    // Template definitions (typically multi-lingual)
    // ==============================================

    var texts = {};
    texts['TEXT1.EN'] = 'This is the first text string';
    texts['TEXT1.SE'] = 'Det här är den första text strängen';


    // Template logic
    // ==============

    var moduleSelf = this;

    moduleSelf.templPrefix = '{{{';
    moduleSelf.templSuffix = '}}}';

    var transformText = function(text) {
      var re = RegExp(moduleSelf.templPrefix + '.*' + moduleSelf.templSuffix);
      var found = text.match(re);
      if (found === null) {
        return text;
      }

      // iterate over all mathes
      for(var i=0; i<found.length; i++) {

        // strip out the {{ and }}
        var index = found[i].substr(moduleSelf.templPrefix.length,
                                    found[i].length - moduleSelf.templPrefix.length -
                                    moduleSelf.templSuffix.length);

        // do the reaplcement if there is one
        if(texts[index] !== undefined) {
          text = text.replace(found[i], texts[index]);
        }
      }

      return text;
    };


    // Process one node in the DOM tree
    var processNode = function (node) {
      var str = 'Name: ' + node.nodeName + ', type: ' +
                node.nodeType;

      // process the text/value
      if(node.nodeValue) {
        str+= ', value: ' + node.nodeValue;
        node.nodeValue = transformText(node.nodeValue);
      }

      // Process the children
      if(node.attributes !== undefined) {
        for (var i=0; i< node.attributes.length; i++) {
          var attr = node.attributes[i];
          if (attr.specified) {

            // The prefix and suffix for temapltes can be changed in the body
            if(node.nodeName === 'BODY' && attr.name === 'gz-templ-prefix') {
              moduleSelf.templPrefix = attr.value;
            }

            if(node.nodeName === 'BODY' && attr.name === 'gz-templ-suffix') {
              moduleSelf.templSuffix = attr.value;
            }

            str += ', attr['+i+']' + ', name: ' + attr.name + ', value: ' + attr.value;
          }
        }
      }

      console.log(str);
    };

    // workaround since NodeList do not inherit Array (not for IE6/7/8)
    NodeList.prototype.forEach = Array.prototype.forEach;
    NamedNodeMap.prototype.forEach = Array.prototype.forEach;

    var traverse = function (node) {

      if(node.nodeName !== 'SCRIPT' && node.nodeName !== 'HTML' ) {
         processNode(node);
      }

      if(node.nodeName === 'SCRIPT' ) {
        return;
      }

      node.childNodes.forEach(traverse);
    };

    document.addEventListener('DOMContentLoaded',
                              traverse(document.documentElement));
  </script>

</body>
</html>
